
#carousel-image{
    border-style: dotted dashed solid double;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

#carousel-inner{
    text-align: center;
}
.carousel-item{
    width: 500px;
    height: 380px;
}

#carouselController{
    background-color : #403ead;
    height : 50%;
}

.carousel-item img{
    height: 200px;
}

.carousel-control-prev-icon{
    background-color : #403ead;
}

.button1 {



  height: 25px;
  width: 80px;
  border: 2px solid #403ead;
  margin-top: 20px;
  margin-bottom: 20px;

  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: white;




}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button {
  display: inline-flex;

}

#boutiqueDetailsButton{
    margin-left: 40%;
    margin-right: 40%;
}

#boutiqueButton{
    display: flex;
    justify-content: flex-end;
}

#boutiqueDeails{}

#producttype{
    display: flex;
    justify-content: flex-start;
}

#productnameprice{
    display: flex;
    justify-content: space-between;


}
