.container {
    width: 60vw !important;
    margin-left: 10rem !important;
}

/* .rightCart
{
    height: 32vh;
} */
.cartTotal {
    margin-right: 10vh;
    text-align: end;
}

#pageContainer {
    position: relative;
    min-height: 100vh;
}
#contentWrap {
    padding-bottom: 2.5rem;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}
.removeButton {
    bottom: 0 !important;
    right: 0 !important;
}
