.container
{
    width: 60vw !important;
    margin-left: 10rem !important;

}

/* .rightCart
{
    height: 32vh;
} */
.cartTotal
{
    margin-right: 10vw;
    text-align: end;
}
.removeButton
{
    bottom: 0 !important;
    right: 0 !important;
}
