#inputFirstName
{
    border-bottom: 1px solid black !important;
}
#inputLastName
{
    border-bottom: 1px solid black !important;
}
#inputEmail
{
    border-bottom: 1px solid black !important;
}
#inputSubject
{
    border-bottom: 1px solid black !important;
}
#inputPassword
{
    border-bottom: 1px solid black !important;
}
#inputCountry
{
    border-bottom: 1px solid black !important;
}
#inputCountry
{
    border-bottom: 1px solid black !important;
}
#inputPostCode
{
    border-bottom: 1px solid black !important;
}
#inputCity
{
    border-bottom: 1px solid black !important;
}
#inputAddress
{
    border-bottom: 1px solid black !important;
}
#inputPhone
{
    border-bottom: 1px solid black !important;
}
h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    padding-bottom: 2rem;

}
.form-group{
    width: 20rem;
}
input{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 14px !important;
}
.form-control:focus{ box-shadow: none; -webkit-box-shadow: none;}

#submitButton{
    padding-left: 20rem;
    padding-right: 0;
    padding-top: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
#updateButton{
    padding-left: 15rem;
    padding-right: 0;
    padding-top: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#theForm{

    height: 50.2vh;
}
