#footerOne {
    display: flex;

    justify-content: flex-end;
    background-color: blueviolet;
    align-items: left;
    padding: 10px;
}

#socialMedia {
    background-color: black;
    color: white;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 5px;
}

#footerOne {
    background-color: #f1f9ff;
}
.fa-facebook-f {
    margin: 10px;
}

#social {
    margin-right: 20px;
}
#contact {
    margin-right: 20px;
}

footer{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 15vh;
    font-size: 15;
    width: 100%;

}

