*:not(input) {
    margin: 0;
    border: 0;
    padding: 0;
}
body{
    font-family: 'Ubuntu', cursive !important;
}

main {
    padding-top: 0;
}
.bg-light {
    background-color: white !important;
    justify-content: flex-end !important ;
}
#logo img {
    opacity: 0;
    justify-content: flex-start;
    margin: auto;
    width: 100px !important;
    height: 100px !important;
    animation-name: logo_opacity;
    animation-duration: 1s;
    animation-fill-mode: forwards; /* keep the end state */
    position: relative;
    justify-content: left;
        justify-content: flex-start;

}
#logo {
    justify-content: flex-start;
    margin: auto;
    justify-content: left;
    
}

header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
    font-size: 15;
    height: 20vh;
}
/*
@font-face {
    font-family: OptimusPrinceps;
    src: url('{{ public_path('fonts/Tilda_Script_S.otf') }}');
}

*/
@keyframes logo_opacity {
    from {
        opacity: 0;
        right: 0px;
    }
    to {
        opacity: 1;
        right: 30px;
    }
}
