*:not(input) {
    margin: 0;
    border: 0;
    padding: 0;
}
main {
    padding-top: 0;
}
.bg-light {
    background-color: white !important;
    justify-content: flex-end !important ;
}
#logo img {
    opacity: 0;
    justify-content: flex-start;
    margin: auto;
    width: 100px !important;
    height: 100px !important;
    animation-name: logo_opacity;
    animation-duration: 1s;
    animation-fill-mode: forwards; /* keep the end state */
    position: relative;
}
#logo {
    justify-content: flex-start;
    margin: auto;
    justify-content: left;
}

header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
    font-size: 15;
    height: 20vh;
<<<<<<< HEAD
}
/*
@font-face {
    font-family: OptimusPrinceps;
    src: url('{{ public_path('fonts/Tilda_Script_S.otf') }}');
=======
>>>>>>> parent of 9d8aba3... Fonts
}
*/
@keyframes logo_opacity {
    from {
        opacity: 0;
        left: 0px;
    }
    to {
        opacity: 1;
        left: 100px;
    }
}
