/* General settings applying for all the page*/
* {
    box-sizing: border-box;
    transition-duration: 0.3s;
}

.cardtitle {
    font-size: 25px;
    /*font-family: 'Ubuntu', cursive;*/
}

.cardheader {
    text-transform: uppercase;
    /*font-family: 'Ubuntu', cursive;*/
    font-size: 30px;
    border-bottom: 15px;
    text-align: center;
}

.cardtext {
    /* font-family: 'Lora', serif;*/
}

#pageContainer {
    position: relative;

}
#contentWrap {
    padding-bottom: 2.5rem;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

#photo {
    width: 450px;
}

@media screen and (max-width: 768px) {
    #photo {
        width: 100%;
        height: 100%;
        margin: auto;
    }


}
/* Victor previous code

#style_homepage {
    height: 68vh;
    width: 650px;
    background-image: url('/images/homepagebackground4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: auto;
    margin-bottom: 5vh;
    background: url('/images/homepagebackground4.jpg')no-repeat center center;
    background-size: contain;
    padding-left: 20%;
    padding-right: 20%;
}

.titre_homepage,
.paragraphe_homepage,
.signature_homepage {
    text-align: center;
    width: 550px;
    margin: 20px auto;
    font-size: 25px;
}

.titre_homepage {
    text-transform: uppercase;
    font-family: 'Ubuntu', cursive;
}
.paragraphe_homepage {
    font-family: 'Lora', serif;
}
.signature_homepage {
    font-family: 'Ubuntu', cursive;
}

#style_homepage p {
    color: #000000;
}

    div:first-child{
    font-size: 27px;
}
*/
